@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body{
    /* background-image: url(images/10\ INSTAGRAM\ WORTHY\ ACTIVITIES\ IN\ MEXICO\ CITY.gif); */
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    font-family:'Delicious Handrawn', cursive;
}
h1{
    position: absolute;
    top: 10vh;
    left: 95vh;
    color: rgb(84, 133, 83);
    text-shadow: 1px 1px 1px rgb(132, 0, 255);
    background-color: rgba(38, 20, 65, 0.555);
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
}
.clock{
    position: absolute;
    top: 40vh;
    left: 88vh;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.404);
    font-size: 100px;
    padding: 5px 50px;
    color: blueviolet;
    text-shadow: 1px 1px 1px rgb(16, 87, 16);
    border: 2px outset rgb(60, 126, 60);
}
.date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: absolute;
    top: 60vh;
    left: 90vh;
    color: rgb(180, 135, 194);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}
.teste{
    width: 700px;
    height: 500px;
    background-repeat: no-repeat;
}
#myImg{
    width: 50vh;
    height: 50vh;
}
img{
    width: 20px;
    height: 20px;
}
a{
    font-size: 23px;
    color: rgb(211, 98, 255);
}
a:visited{
    color: rgb(211, 98, 255);
}
footer{
    display: block;
    position: fixed;
    bottom: 0vh;
    width: 20%;
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(211, 98, 255);
}